*{
  box-sizing: border-box;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;;
  background: #fff;
}

html, body, ul, ol, li, form, fieldset, legend
{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
a{
  text-decoration: none;
}
fieldset,img {
  border: 0;
}
li {
  list-style: none;
}