body{
  padding-top: 91px;
  a{
    color: #000;
    &:hover{
      color: darken(#616161, 4);
    }
  }
}
.container{
  margin: 0 16px;
}
header{
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  .header-wrapper{
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name-logo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #000;
      text-transform: uppercase;
      .logo-big{
        font-size: 32px;
        letter-spacing: 2.4px;
      }
      .logo-small{
        font-size: 18px;
        position: relative;
        top: -4px;
        left: -2px;
      }
    }
    .menu-wrapper.header-menu{
      display: flex;
      flex-direction: row;
      align-items: center;
      &>a{
        height: 100%;
        text-transform: uppercase;
        &:first-child{
          margin-right: 12px;
        }
      }
    }
  }
}
#projectBanner{
  .project-banner{
    padding: 16px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-right: 0;
    .banner-left{
      max-width: 40%;
      width: 100%;
      .banner-title{
        font-size: 42px;
      }
      .banner-desc{
        margin: 8px 0;
        h3{
          font-weight: 400;
          display: flex;
          flex-direction: column;
          a{
            padding: 12px;
            padding-right: 32px;
            border: 1px solid;
            border-radius: 4px;
            position: relative;
            top: 32px;
            max-width: max-content;
            &:after{
              content: "chevron_right";
              font-family: "Material Icons";
              font-size: 24px;
              position: absolute;
              right: -4px;
              color: #000;
              transition: all 0.3s ease;
              top: 50%;
              transform: translate(-50%, -50%);
            }
            &:hover{
              color: #000;
              &:after{
                right: -8px;
              }
            }
          }
        }
      }
    }
    .banner-right{
      position: relative;
      right: -20%;
      .banner-image{
        img{
          height: 100%;
          width: 100%;
          box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
        }
      }
    }
  }
}
.goDown{
  margin: 42px 0px;
  padding: 0 48px;
  text-align: center;
  width: 100%;
  .animation-wrapper{
    box-shadow: 0 0 0 rgba(0,0,0, 0.4);
    animation: pulse 2s infinite;
    width: max-content;
    border-radius: 3em;
    margin: 0 auto;
    i{
      font-size: 92px;
      font-weight: 100;
      position: relative;
      top: 4px;
      padding: 0 2px;
      cursor: pointer;
    }
  }
}

#introSection{
  margin: 42px 0px;
  padding: 0 48px;
  text-align: center;
  width: 100%;
  .intro-title{
    font-size: 92px;
    font-weight: 100;
  }
  .intro-desc{
    text-align: center;
    h4{
      margin: 16px 0;
      line-height: 1.5;
      font-weight: 100;
      font-size: 32px;
      a{
        font-weight: 100;
        font-size: 32px;
        border-bottom: 1px dashed #616161;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          top: 60px;
          left: 38%;
          width: 100%;
          background: url(../images/arrow.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          animation: none;
          opacity: 0;
          height:0;
        }
        &:hover{
          &:after{
            height: 200px;
            animation: flash 0.5s infinite;
          }
        }
      }
    }
  }
}

#socialLinks{
  display: flex;
  flex-direction: row;
  padding: 0 48px;
  margin: 42px 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 152px;
  p.social-divider{
    font-size: 24px;
    text-transform: uppercase;
    font-style: italic;
  }
  &>a{
    height: 250px;
    width: 35%;
    border-radius: 4px;
    overflow: hidden;
    .social-wrapper{
      height: 100%;
      position: relative;
      img{
        position: absolute;
        opacity: 0.3;
      }
      .social-content{
        line-height: 250px;
        color: #fff;
        text-align: center;
        font-size: 32px;
      }
    }
    &#social-codepen{
      border: 1px solid #111;
      .social-wrapper{
        background: #000;
        img{
          height: 94%;
          top: 8px;
        }
      }
      .social-content{
        padding-left: 34px;
      }
    }
    &#social-github{
      border: 1px solid #e1e1e1;
      .social-wrapper{
        background: #e1e1e1;
        img{
          height: 94%;
          top: 8px;
          right:4px;
          opacity: 0.1;
        }
      }
      .social-content{
        padding-right: 34px;
        color: #000;
      }
    }
    &:hover{
      img{
        transform: scale(1.1);
      }
    }
  }
}

//animations
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0,0,0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes flash {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
