.hidden {
  display: none !important; }

header {
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 0 32px; }
  header nav#menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    transition: all 0.3s ease; }
    header nav#menu div.menu-items {
      padding: 0 16px;
      min-width: 70px;
      text-align: center;
      font-size: 16px;
      text-transform: capitalize;
      color: #fff;
      border-bottom: 2px solid transparent; }
      header nav#menu div.menu-items p {
        margin: 16px 0; }
      header nav#menu div.menu-items:hover {
        border-bottom-color: #fff;
        cursor: pointer; }
    header nav#menu.center-shadow {
      margin: 0 -32px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      box-shadow: 0 0 2px 0 #b1b1b1;
      background: #fff; }
      header nav#menu.center-shadow div.menu-items {
        color: #007aff; }
        header nav#menu.center-shadow div.menu-items:hover {
          border-bottom-color: #007aff; }

section {
  margin-bottom: 32px; }
  section#introBanner {
    height: 300px;
    overflow: hidden;
    position: relative; }
    section#introBanner .background {
      width: 100%;
      min-height: 190px;
      background: url("../images/banner-back.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    section#introBanner .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 72px 32px 32px; }
      section#introBanner .content .avatar {
        margin-right: 32px; }
        section#introBanner .content .avatar img {
          height: 220px;
          border-radius: 2px;
          box-shadow: 0 0 4px 0 #b1b1b1; }
      section#introBanner .content .info {
        position: relative;
        top: 32px; }
        section#introBanner .content .info .name {
          font-size: 72px;
          color: #fff; }
        section#introBanner .content .info .profession {
          font-size: 32px;
          margin-top: 8px; }
        section#introBanner .content .info .location {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.6); }
          section#introBanner .content .info .location i {
            font-size: 16px; }
  section#projects {
    background: url("../images/project-back.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 32px; }
    section#projects .title {
      font-size: 72px;
      text-align: right;
      margin-bottom: 32px; }
      section#projects .title:before {
        content: "";
        height: 40px;
        width: 1px;
        background: #fff;
        border: 1px solid;
        margin-right: 16px; }
    section#projects .project-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 50%;
              flex: 1 0 50%;
      margin: 64px 0; }
      section#projects .project-list .project-name {
        padding: 0 24px;
        border-left: 4px solid rgba(255, 255, 255, 0.4);
        min-width: 25%; }
        section#projects .project-list .project-name .project {
          font-size: 24px;
          color: #5fbbce;
          margin: 32px 0;
          position: relative;
          transition: all 0.3s ease; }
          section#projects .project-list .project-name .project:before {
            content: "";
            position: absolute;
            top: 8px;
            left: -32px;
            height: 10px;
            width: 10px;
            border: 1px solid #86ccda;
            transition: all 0.3s ease; }
          section#projects .project-list .project-name .project.is-active, section#projects .project-list .project-name .project:hover {
            color: #236471; }
            section#projects .project-list .project-name .project.is-active:before, section#projects .project-list .project-name .project:hover:before {
              background: #236471; }
      section#projects .project-list .project-info {
        max-width: 75%; }
        section#projects .project-list .project-info .project-pop {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          section#projects .project-list .project-info .project-pop .pictures {
            position: relative;
            width: 100%; }
            section#projects .project-list .project-info .project-pop .pictures img {
              position: absolute;
              top: 0;
              left: 0;
              border: 1px solid white;
              transition: all 0.3s ease;
              -webkit-transform: translate(0, 0);
                      transform: translate(0, 0); }
              section#projects .project-list .project-info .project-pop .pictures img.first {
                z-index: 3; }
              section#projects .project-list .project-info .project-pop .pictures img.second {
                z-index: 2; }
              section#projects .project-list .project-info .project-pop .pictures img.third {
                z-index: 1; }
            section#projects .project-list .project-info .project-pop .pictures.is-active img.first.is-animating {
              -webkit-transform: translateX(62px);
                      transform: translateX(62px); }
            section#projects .project-list .project-info .project-pop .pictures.is-active img.second.is-animating {
              -webkit-transform: translateX(38px) translateY(16px);
                      transform: translateX(38px) translateY(16px); }
            section#projects .project-list .project-info .project-pop .pictures.is-active img.third.is-animating {
              -webkit-transform: translateX(18px) translateY(32px);
                      transform: translateX(18px) translateY(32px); }
            section#projects .project-list .project-info .project-pop .pictures.is-active img:hover {
              z-index: 4; }
          section#projects .project-list .project-info .project-pop .content {
            max-width: 50%;
            opacity: 0;
            transition: opacity 0.3s ease; }
            section#projects .project-list .project-info .project-pop .content.is-active {
              opacity: 1; }
  section#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%; }
    section#contact .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      section#contact .contact img {
        padding: 0 8px;
        height: 40px;
        width: 40px; }
