.container {
  padding: 0 32px;
  margin: 0 16px; }

header {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0; }
  header .header-wrapper {
    padding: 16px 32px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-wrapper .name-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000;
      text-transform: uppercase; }
      header .header-wrapper .name-logo .logo-big {
        font-size: 32px;
        letter-spacing: 2.4px; }
      header .header-wrapper .name-logo .logo-small {
        font-size: 18px;
        position: relative;
        top: -4px;
        left: -2px; }
    header .header-wrapper .menu-wrapper.header-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-wrapper .menu-wrapper.header-menu > a {
        height: 100%;
        text-transform: uppercase;
        color: #000;
        font-weight: 400; }
