body {
  padding-top: 91px; }
  body a {
    color: #000; }
    body a:hover {
      color: #575757; }

.container {
  margin: 0 16px; }

header {
  background: #fff;
  width: 100%;
  position: fixed;
  top: 0; }
  header .header-wrapper {
    padding: 16px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    header .header-wrapper .name-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000;
      text-transform: uppercase; }
      header .header-wrapper .name-logo .logo-big {
        font-size: 32px;
        letter-spacing: 2.4px; }
      header .header-wrapper .name-logo .logo-small {
        font-size: 18px;
        position: relative;
        top: -4px;
        left: -2px; }
    header .header-wrapper .menu-wrapper.header-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .header-wrapper .menu-wrapper.header-menu > a {
        height: 100%;
        text-transform: uppercase; }
        header .header-wrapper .menu-wrapper.header-menu > a:first-child {
          margin-right: 12px; }

#projectBanner .project-banner {
  padding: 16px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-right: 0; }
  #projectBanner .project-banner .banner-left {
    max-width: 40%;
    width: 100%; }
    #projectBanner .project-banner .banner-left .banner-title {
      font-size: 42px; }
  #projectBanner .project-banner .banner-right {
    position: relative;
    right: -20%; }
    #projectBanner .project-banner .banner-right .banner-image img {
      height: 100%;
      width: 100%;
      box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2); }
